<footer class="footer py-2 mt-auto">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; SmartBuyz 2025</p>
    </div>
</footer>